<web-app>
	<context-param>
		<param-name>imagDirectory</param-name>
		<param-value>C:\Tomcat9.0\webapps\project\Data\</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>log</servlet-name>
		<servlet-class>pack.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>log</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>